.banner__logo {
  /* position: absolute;
  left: 0;
  top: 0;
  transform: translate(50%, 40%); */
  z-index: 1;
}

.banner__landscape {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 65vh;
  z-index: -1;
}
