.about__container {
  display: flex;
  flex-direction: column;
}

.about__section--1 {
  display: grid;
  grid-template-columns: 1fr;
}

.about__text {
  height: 100%;
  overflow: auto;
}

.about__title {
  font-size: 6rem;
  text-decoration: underline 0.3rem;
  margin-bottom: 1rem;
}

.about__face-photo {
  float: right;
  margin-left: 0.5rem;
  min-width: 15%;
  max-width: 25%;
}

.about__section--2 {
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position */
  margin-top: 1rem;
}
