.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__section--1 {
  display: grid;
  grid-template-columns: 1fr;
}

.about__text {
  height: 100%;
  text-indent: 2rem;
}

.about__title {
  font-size: 6rem;
  text-decoration: underline 0.3rem;
  margin-bottom: 1rem;
}

.about__face-photo {
  float: right;
  margin-left: 0.5rem;
  min-width: 15%;
  max-width: 25%;
}

.about__section--2 {
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position */
  margin-top: 1rem;
  /* box */
  width: 100%;
}

.about__resume-btn {
  /* text */
  text-decoration: none;
  font-size: 2.2rem;
  color: var(--c-7);
  text-align: center;
  /* background */
  background: var(--c-6);
  /* box */
  width: fit-content;
  border-radius: 0.1rem;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .about__face-photo {
    display: none;
  }
}
