.banner__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__logo {
  z-index: 1;
  width: 710px;
  height: 370px;
}

.banner__landscape {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  width: 100vw;
  height: 65vh;
  z-index: -1;
}

@keyframes logo__triangle {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
