#banner__container {
  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;
  /* scroll */
  scroll-snap-align: end;
  /* box */
  height: 99vh;
  width: 100%;
  padding: 0;
  overflow: hidden;
  /* position */
  position: relative;
}

.banner__logo {
  /* position */
  z-index: 3;
  /* box */
  width: clamp(350px, 50%, 710px);
  height: clamp(50%, 50%, 370px);
}

.banner__montains {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 70vh;
  width: 100%;
}

.banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
}

.banner__bg {
  position: absolute;
  z-index: 1;
  /* width: clamp(500px, 2000px, 2560px); */
  /* height: 100%; */
  width: clamp(390px, 1920px, 1920px);
  height: clamp(944px, 1080px, 1080px);
}

/* @media only screen and (max-width: 600px) {
  .banner__video {

  }
} */
