.contact__container {
  /* background */
  background-image: url(https://res.cloudinary.com/mvacoimbra/image/upload/v1689122833/synthfolio/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* box */
  height: 50vh;
  /* text */
  font-family: 'Audiowide', cursive;
  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* scroll */
  scroll-snap-align: end;
}

.contact__title {
  font-size: 7rem;
  text-shadow: var(--c-1-txt-glow);
  animation: contact__title 1s ease-in-out infinite alternate;
  margin-bottom: 5rem;
}

.contact__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  animation: contact__title 1s ease-in-out infinite alternate;
}

.contact__icon {
  text-decoration: none;
  color: var(--c-1);
  font-size: 7rem;
}

@keyframes contact__title {
  from {
    text-shadow: 0rem 0rem 2rem var(--c-1);
  }
  to {
    text-shadow: 0rem 0rem 1rem var(--c-1);
  }
}

@media only screen and (max-width: 600px) {
  .contact__container {
    height: 100vh;
    background-position: center;
  }

  .contact__icons {
    flex-direction: column;
  }

  .contact__title {
    font-size: 5rem;
  }
}
