.navbar__placeholder {
  height: 96px;
}

.navbar__container {
  border-bottom: solid 0.3rem var(--c-1);
  box-shadow: 0rem 0rem 2rem 0rem var(--c-1);
  background-color: var(--c-4);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar__box {
  display: flex;
  justify-content: center;
}

.navbar__list {
 display: flex;
 gap: 4rem;
}

.navbar__item {
  color: var(--c-1);
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: .5rem;
  border: solid .2rem var(--c-4);
  text-shadow: var(--c-1-txt-glow);
}

.navbar__item:hover {
  cursor: pointer;
  border: solid .2rem var(--c-1);
  box-shadow: var(--c-1-txt-glow);
}

.navbar__item--active {
  border: solid .2rem var(--c-1);
  background-color: var(--c-1);
  box-shadow: var(--c-1-txt-glow);
  color: var(--c-4);
}

.navbar__item--active .navbar__button {
  color: var(--c-4);
}

.navbar__button {
  background: none;
  color: var(--c-1);
  font-family: 'VT323', monospace;
  font-size: 3rem;
  text-shadow: var(--c-1-txt-glow);
  cursor: pointer;
}
