@import url(reset.css);
@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  font-size: 62.5%;
  /* font-family: 'Audiowide', cursive; */
  font-family: 'VT323', monospace;
}

html {
  background-color: #000408;
  color: var(--c-1);
}
