@import url(reset.css);
@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@font-face {
  font-family: 'CustomFont'; /* The name you want to give to the font */
  src: url('./fonts/brushsci-webfont.woff2') format('woff2'),
    /* Link to your font file */ url('./fonts/brushsci-webfont.woff')
      format('woff'); /* Optional fallback for older browsers */
}

:root {
  font-size: 62.5%;
  /* font-family: 'Audiowide', cursive; */
  font-family: 'VT323', monospace;
}

html {
  background-color: #000408;
  color: var(--c-1);
}

.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

@media only screen and (min-width: 600px) {
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--c-6-1) var(--c-7-1);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: var(--c-7-1);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--c-6-1);
    border-radius: 0px;
    border: none;
  }
}

@media only screen and (max-width: 600px) {
  .monitor__container {
    padding: 0;
  }

  .App {
    scroll-snap-type: y proximity;
  }
}
