:root {
  --c-0: #D7D9CE;
  --c-1: #1EFCA3;
  --c-1-2: #1BE393;
  --c-1-3: #17BD7A;
  --c-1-4: #0F7D51;
  --c-1-5: #073D28;
  --c-2: #1B67A4;
  --c-3: #071719;
  --c-4: #000408;
  --c-1-txt-glow: 0rem 0rem 2rem var(--c-1);
}
