.monitor__container {
  /* background */
  background-image: url(https://res.cloudinary.com/mvacoimbra/image/upload/v1689194681/synthfolio/mobitor-bg-2.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-clip: padding-box;
  background-position: center;
  /* size */
  height: 99vh;
  overflow: hidden;
  position: relative;
  padding: 72px 0px 0px 80px;
  /* snap */
  scroll-snap-align: start;
}

/* .monitor__bg {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
} */