.monitor__container {
  /* background-image: url(https://res.cloudinary.com/mvacoimbra/image/upload/v1689120820/synthfolio/monitor-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
  background-position: center; */
  height: 99vh;
  overflow: hidden;
  position: relative;
}

.monitor__bg {
  width: 100%;
}