.black-bar__placeholder {
  position: relative;
  height: 1rem;
}

.black-bar {
  background: var(--c-4);
  box-shadow: 0rem 0rem 1rem 2rem var(--c-4);
  height: 1rem;
  width: 100%;
  position: absolute;
  z-index: 2;
}
