#signature {
  stroke-dasharray: 1478;
  stroke-dashoffset: 1478;
  animation: signature 5s ease forwards infinite;
  stroke-width: 16;
}

#mySVG {
  font-family: 'CustomFont', sans-serif;
}

@keyframes signature {
  to {
    stroke-dashoffset: 0;
    stroke-width: 30;
  }
}
